* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 50px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 25px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #f4f4f4;
  border: 5px solid #747272;
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square-x {
  /* background-color: lightyellow; */
  background: #f4f4f4;
  color: black;
  border: 5px solid #747272;
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square-o {
  /*background-color: lightblue;*/
  background: #f4f4f4;
  color: black;
  border: 5px solid #747272;
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square-striked {
  background-color: lightgreen ;
  text-decoration: line-through;
  border: 5px solid #747272;
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square-empty {
  background-color: white;
  color: gray;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.image {
  background-image: url(../TicTacToe_BG.png);
  background-repeat: repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers items */
  align-items: center; /* Vertically centers items */
  /*height: 100vh; /* Example: full viewport height for vertical centering on page */
}

/* .button{
  position:relative;
  display:inline-block;
  margin:20px;
} */

.button {
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  /* background-color:#FFA12B; */
  background-color:grey;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 rgb(220, 216, 216), 0 10px 0 rgb(74, 73, 73);
  -moz-box-shadow:inset 0 1px 0 rgb(220, 216, 216), 0 10px 0 rgb(74, 73, 73);
  box-shadow:inset 0 1px 0 rgb(220, 216, 216), 0 10px 0 rgb(74, 73, 73);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:active{
  top:10px;
  background-color:lightgrey;
  
  -webkit-box-shadow:inset 0 1px 0 rgb(220, 216, 216), inset 0 -3px 0 rgb(74, 73, 73);
  -moz-box-shadow:inset 0 1px 0 rgb(220, 216, 216), inset 0 -3pxpx 0 rgb(74, 73, 73);
  box-shadow:inset 0 1px 0 rgb(220, 216, 216), inset 0 -3px 0 rgb(74, 73, 73);
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}